
/* Centering the input container with text*/
body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;

}

.input-container {
text-align: center;

}

input[type="text"], input[type="submit"] {
    padding: 8px;

}